@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br/>
<div class="buttons container body-content">
   | Добавить сеть| Удалить сеть |
</div>
<hr />
<div class="container body-content">
    <div class="col-lg-1"><input type="checkbox">
    </div>
    <div class="col-lg-3">Велика Кишеня</div>
    <div class="col-lg-3">Адрес</div>
</div>
