@model List<Stands.Data.AspNetUser>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br/>
<div class="btn-group container body-content">
    <button onclick="AddUser()">Добавить пользователя</button>
    <button onclick="DeleteUser()">Удалить пользователя</button>
</div>
@foreach (var user in Model)
{
    <hr />
    <div class="container body-content" onclick="ChangeUser($(this))">
        <div class="col-lg-1">
            <input id="@user.Id" type="checkbox">
        </div>
        <div class="col-lg-3">@user.UserName</div>
        <div class="col-lg-3">@user.Role</div>
        <div class="col-lg-3">"Название сети"</div>
    </div>

}

<script type="text/javascript">
    function AddUser() {
        
    }

    function DeleteUser() {

    }

    function ChangeUser() {

    }
</script>