@{
    ViewBag.Title = "Home Page";
}
<br/>
<div class="btn-group container body-content">
    <button>Добавить пользователя</button>
    <button>Удалить пользователя</button>
</div>
<hr />
<div class="container body-content">
    <input type="checkbox"/>
    <div class="col-lg-4">Иванов Иван Иванович</div>
    <div class="col-lg-4">Администратор</div>
    <div class="col-lg-4">"Велика Кишеня"</div>
</div>

